.red
{
    color: red;
}

.orange
{
    color: orange;
}

.yellow
{
    color: #E6E600;
}

.green
{
    color: green;
}

.blue
{
    color: dodgerblue;
}

.indigo
{
    color: indigo;
}

.violet
{
    color: darkviolet;
}